<%= form_with model: speciality do |form| %>
  <% if speciality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(speciality.errors.count, "error") %> prohibited this speciality from being saved:</h2>

      <ul>
      <% speciality.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12 col-xl-12">
      <div class="form-group">
        <%= form.label "Título" %>
        <%= form.text_field :title, class: "form-control input" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-12">
      <div class="form-group">
        <%= form.label "Descripción" %>
        <%= form.text_area :description, class: "form-control input" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>