<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">
      <h4>Importar datos</h4>
      <%= form_tag import_customers_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Importar CSV" %>
      <% end %>
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="alert alert-info mt-3">
            <h4>Buscar nombre, título profesional y especialidad:</h4>
              <%= form_tag customers_path, method: "get" do %>
              <div class="row">
                <div class="col-12 col-lg-2">
                  <div class="form-group">
                    <%= text_field_tag :fullname, params[:fullname], class: "form-control" %>
                  </div>
                </div>
                <div class="col-12 col-lg-2">
                  <div class="form-group">
                    <%= text_field_tag :prof_title, params[:prof_title], class: "form-control" %>
                  </div>
                </div>
                <div class="col-12 col-lg-2">
                  <div class="form-group">
                    <%= text_field_tag :specialty, params[:specialty], class: "form-control" %>
                  </div>
                </div>
                <div class="col-12 col-lg-2">
                  <div class="form-group">
                    <%= text_field_tag :tel, params[:tel], class: "form-control" %>
                  </div>
                </div>
                <div class="col-12 col-lg-2">
                  <div class="form-group">
                    <%= submit_tag "Buscar", class: "btn btn-primary btn-block" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <br>
      <%= will_paginate @customers, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      <br>
      <h1>Clientes</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Teléfonos</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Título</th>
            <th>Espec.</th>
            <th>Otro</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.fullname %></td>
              <td><%= customer.cel.to_s + " - " + customer.tel.to_s %></td>
              <td><%= customer.city.to_s + " - " + customer.address.to_s %></td>
              <td><%= customer.email %></td>
              <td><%= customer.prof_title %></td>
              <td><%= customer.specialty %></td>
              <td><%= customer.specialty2 %></td>
              <td><%= link_to 'Detalles', customer %></td>
              <td><%= link_to 'Editar', edit_customer_path(customer) %></td>
              <td><%= link_to 'Borrar', customer, method: :delete, data: { confirm: '¿Confirmas la operación?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Nuevo cliente', new_customer_path %>

    </div>
  </div>
</div>