<div class="container">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">
      <h4>Importar datos</h4>
      <%= form_tag import_customers_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Importar CSV" %>
      <% end %>

      <h1>Clientes</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Celular</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>Email</th>
            <th>Título</th>
            <th>Especialidad</th>
            <th>Otro estudio</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.fullname %></td>
              <td><%= customer.cel %></td>
              <td><%= customer.tel %></td>
              <td><%= customer.address %></td>
              <td><%= customer.city %></td>
              <td><%= customer.email %></td>
              <td><%= customer.prof_title %></td>
              <td><%= customer.specialty %></td>
              <td><%= customer.specialty2 %></td>
              <td><%= link_to 'Detalles', customer %></td>
              <td><%= link_to 'Editar', edit_customer_path(customer) %></td>
              <td><%= link_to 'Borrar', customer, method: :delete, data: { confirm: '¿Confirmas la operación?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Nuevo cliente', new_customer_path %>

    </div>
  </div>
</div>