<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @customer.fullname %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @customer.cel %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @customer.tel %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Título:</strong>
  <%= @customer.prof_title %>
</p>

<p>
  <strong>Especialidad:</strong>
  <%= @customer.specialty %>
</p>

<p>
  <strong>Especialidad 2:</strong>
  <%= @customer.specialty2 %>
</p>

<%= link_to 'Editar', edit_customer_path(@customer) %> |
<%= link_to 'Vovler', customers_path %>
