<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12 col-xl-12">
      <div class="form-group">
        <%= form.label "Título" %>
        <%= form.text_field :title, class: "form-control input" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-12">
      <div class="form-group">
        <%= form.label "Descripción" %>
        <%= form.text_area :description, class: "form-control input" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-3">
      <div class="form-group">
        <%= form.label "Disciplina" %>
        <%= form.select(:discipline, options_for_select([['Medicina', 'medicina'], ['Odontología', 'odontologia']]), { prompt: "Selecciona" }, class: "form-control input") %>
      </div>
    </div>
    <div class="col-12 col-xl-3">
      <div class="form-group">
        <%= form.label "Tema" %>
        <%= form.text_field :topic, class: "form-control input" %>
      </div>
    </div>
    <div class="col-12 col-xl-3">
      <div class="form-group">
        <%= form.label "Especialidad" %>
        <%= form.text_field :specialty, class: "form-control input" %>
      </div>
    </div>
    <div class="col-12 col-xl-3">
      <div class="form-group">
        <%= form.label "Especialidad 2" %>
        <%= form.text_field :specialty2, class: "form-control input" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-3">
      <div class="form-group">
        <%= form.label "Precio" %>
        <%= form.text_field :price, class: "form-control input" %>
      </div>
    </div>
    <div class="col-12 col-xl-3">
      <div class="form-group">
        <%= form.label "Edición" %>
        <%= form.number_field :edition, class: "form-control input" %>
      </div>
    </div>
    <div class="col-12 col-xl-3">
      <div class="form-group">
        <%= form.label "Año" %>
        <%= form.number_field :pub_year, class: "form-control input" %>
      </div>
    </div>
    <div class="col-12 col-xl-3">
      <div class="form-group">
        <%= form.label "Páginas" %>
        <%= form.number_field :pages, class: "form-control input" %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 col-xl-3">
      <div class="form-group">
        <%= form.label "Tamaño" %>
        <%= form.text_field :size, class: "form-control input" %>
      </div>
    </div>
    <div class="col-12 col-xl-3">
      <div class="form-group">
        <%= form.label "Cobertura" %>
        <%= form.text_field :cover, class: "form-control input" %>
      </div>
    </div>
    <div class="col-12 col-xl-3">
      <div class="form-group">
        <%= form.label "Tomos" %>
        <%= form.text_field :volumes, class: "form-control input" %>
      </div>
    </div>
    <div class="col-12 col-xl-3">
      <div class="form-group">
        <%= form.label "Índice" %>
        <%= form.text_area :index, class: "form-control input" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Guardar libro", class: "btn btn-primary" %>
  </div>
  
<% end %>
