<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @book.discipline %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @book.topic %>
</p>

<p>
  <strong>Especialidad:</strong>
  <%= @book.specialty %>
</p>

<p>
  <strong>Especialidad 2:</strong>
  <%= @book.specialty2 %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Edicion:</strong>
  <%= @book.edition %>
</p>

<p>
  <strong>Año:</strong>
  <%= @book.pub_year %>
</p>

<p>
  <strong>Isbn 10:</strong>
  <%= @book.isbn_10 %>
</p>

<p>
  <strong>Isbn 13:</strong>
  <%= @book.isbn_13 %>
</p>

<p>
  <strong>Páginas:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Dimensiones:</strong>
  <%= @book.size %>
</p>

<p>
  <strong>Cubierta:</strong>
  <%= @book.cover %>
</p>

<p>
  <strong>Tomos:</strong>
  <%= @book.volumes %>
</p>

<p>
  <strong>Índice:</strong>
  <%= @book.index %>
</p>

<%= link_to 'Editar', edit_book_path(@book) %> |
<%= link_to 'Volver', books_path %>
