<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">HET Books</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Libros", books_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Clientes", customers_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Autores", authors_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Profesiones", professions_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Especialidades", specialities_path, class: "nav-link" %>
      </li>
    </ul>
    <% if user_signed_in? %>
      <ul class="navbar-nav d-flex justify-content-end">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuario: <%= current_user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</nav>